<a href="https://colab.research.google.com/github/Hunny-Chaurasia/-myHealthyFitness/blob/main/Hunny_Ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.**bold text** Write a code to reverse a string.

In [ ]:
MyStr="Hunny"
MyStr_Rev1= MyStr[-1:-6:-1]
MyStr_Rev2=""
for i in range(len(MyStr)-1, -1, -1):
    MyStr_Rev2 = MyStr_Rev2+MyStr[i]
print("MyStr_Rev1 : ",MyStr_Rev1)
print("MyStr_Rev2 : ",MyStr_Rev2)

MyStr_Rev1 :  ynnuH
MyStr_Rev2 :  ynnuH

2. Write a code to count the number of vowels in a string.

In [ ]:
Vowels=['A','E','I','O','U','a','e','i','o','u']
MyStr="Hunny Chaurasia"

count = 0

for ch in MyStr:
    if ch in Vowels:
        count += 1

print("Total Vowels Are:", count)

Total Vowels Are: 6

**3. Write a code to check if a given string is a palindrome or not.**

In [ ]:
MyStr="NAMAN"
rev_MyStr= MyStr[-1:-6:-1]
if MyStr==rev_MyStr:
  print("Palindrome")
else:
  print("Not Palindrome")

MyStr="Manan"
rev_MyStr= MyStr[-1:-6:-1]
if MyStr.lower()==rev_MyStr.lower():
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome
Not Palindrome

**4. Write a code to check if two given strings are anagrams of each other.**

In [ ]:
MyStr = "HEART"
MyStr2= "EARTH"

MyStrList = list(MyStr.lower())
MyStr2List = list(MyStr2.lower())

lenMyStr=len(MyStrList)
lenMyStr2=len(MyStr2List)


if lenMyStr==lenMyStr2:
  MyStrList.sort()
  MyStr2List.sort()

  if MyStrList==MyStr2List:
    print("Anagrams")
  else:
    print("Not Anagrams")
else:
  print("Not Anagrams")

Anagrams

**5.  Write a code to find all occurrences of a given substring within another string.**

In [ ]:
MyStr = "BUNNY HUNNY FUNNY SUNNY MONEY"
subStr = "UN"
count=0

SplitedMyStr = MyStr.split()
for i in SplitedMyStr:
  if subStr.lower() in i.lower():
    count+=1
count

4

**6. Write a code to perform basic string compression using the counts of repeated characters.**

In [ ]:
MyStr = "aaayyyaaaaaaaahuiiii"
compressedStr = ""
count = 1

for i in range(1, len(MyStr)):
    if MyStr[i].lower() == MyStr[i - 1].lower():
        count += 1
    else:
        compressedStr += MyStr[i - 1] + str(count)
        count = 1
# Add last character group
compressedStr += MyStr[-1] + str(count)
compressedStr

'a3y3a8h1u1i4'

**7.  Write a code to determine if a string has all unique characters.**

In [12]:

MyStr=input("Enter String : ")
MyStrList = list(MyStr)
if len(MyStr) == len(set(MyStr)):
    print("String is Unique")
else:
    print("String is not Unique")

Enter String : hunny
String is not Unique

**8. Write a code to convert a given string to uppercase or lowercase**

In [13]:
MyStr=input("Enter String : ")
print(MyStr.lower())
print(MyStr.upper())

Enter String : hunNy
hunny
HUNNY

**9.  Write a code to count the number of words in a string.**

In [15]:
MyStr=input("Enter String : ")
count=0
for i in (MyStrList):
  count+=1
print("Total Words are : ",count)

Enter String : hunny
Total Words are :  5

**10. Write a code to concatenate two strings without using the + operator.**

In [16]:
MyStr=input("Enter String 1 : ")
MyStr2=input("Enter String 2 : ")

print("".join([MyStr, MyStr2]))
print("{}{}".format(MyStr, MyStr2))

Enter String 1 : hunny
Enter String 2 : bunny
hunnybunny
hunnybunny

**11.  Write a code to remove all occurrences of a specific element from a list.**

In [17]:
my_list = [10, 20, 30, 20, 40, 50, 20]
element = 20

while element in my_list:
    my_list.remove(element)

print(my_list)

[10, 30, 40, 50]

**12.  Implement a code to find the second largest number in a given list of integers.**

In [18]:
numList = [10,20,10,25, 23, 91,1]

largest = max(numList)
second_largest = -999999999
for num in numList:
    if num != largest and num > second_largest:
        second_largest = num
print("Largest:", largest)
print("Second Largest:", second_largest)

Largest: 91
Second Largest: 25

**13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.**

In [19]:
numList = [10,20,10,25, 23, 91,1,10,20,10,25, 23, 91,10,20,10,25, 23, 91,1, 10,20,10,25, 23, 91,110,20,10,25, 23, 91,1]
dict = {}
for i in numList:
    dict[i] = numList.count(i)

print(dict)

{10: 9, 20: 5, 25: 5, 23: 5, 91: 5, 1: 3, 110: 1}

**14. Write a code to reverse a list in-place without using any built-in reverse functions.**

In [20]:
numList = [10,20,30,25, 23, 91,1]
for i in range(len(numList)-1):
  temp=numList[i]
  numList[i]=numList[len(numList)-i-1]
  numList[len(numList)-i-1]=temp
print(numList)

[1, 20, 30, 25, 23, 91, 10]

**15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.**

In [21]:
numList = [10,20,10,25, 23, 91,1, 10 ,20 , 99 ,12]
numset=set(numList)
numList = list(numset)
print(numList)

[1, 99, 10, 12, 20, 23, 25, 91]

**16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [22]:
numList = [10,20,30,25,23,91,1]

ASCsortnumList = sorted(numList)
DSCsortnumList = sorted(numList, reverse=True)

if numList == ASCsortnumList:
    print("List is in ascending order.")
elif numList == DSCsortnumList:
    print("List is in descending order.")
else:
    print("List is neither ascending nor descending order.")

List is neither ascending nor descending order.

**17. Write a code to merge two sorted lists into a single sorted list.**

In [23]:
numList1=[10,213,45]
numList2=[2,40,23,34]
sortedList=numList1 + numList2

for i in range(0, len(sortedList)):
    for j in range(i+1, len(sortedList)):
        if sortedList[i] > sortedList[j]:
            temp = sortedList[i]
            sortedList[i] = sortedList[j]
            sortedList[j] = temp

print(sortedList)

[2, 10, 23, 34, 40, 45, 213]

**18. Implement a code to find the intersection of two given lists.**

In [24]:
numList1=[10,213,45,23,34]
numList2=[2,40,23,34]
set1 = set(numList1)
set2 = set(numList2)
setitersect = set1.intersection(set2)
print(list(setitersect))

[34, 23]

**19. Create a code to find the union of two lists without duplicates.**

In [25]:
numList1=[10,213,45,23,34]
numList2=[2,40,23,34]
set1 = set(numList1)
set2 = set(numList2)
setitersect = set1.union(set2)
print(list(setitersect))

[34, 2, 40, 10, 45, 213, 23]

**20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [26]:
import random
numList1=[10,213,45,23,34]
for i in range(len(numList1)-1):
  x=random.randint(0,len(numList1)-1)
  temp=numList1[i]
  numList1[i]=numList1[x]
  numList1[x]=temp
print(numList1)

[10, 45, 23, 34, 213]

**21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [31]:
print("Enter len of tuple 1 : ")
tuple1=()
len1=int(input())
for i in range(len1):
  print("Enter element of tuple 1 : ")
  tuple1=  tuple1+(int(input()),)
print("Enter len of tuple 2 :")
tuple2=()
len2=int(input())
for i in range(len2):
  print("Enter element of tuple 1 : ")
  tuple2=  tuple2+(int(input()),)
set1=set(tuple1)
set2=set(tuple2)
setinter=set1.intersection(set2)
print(tuple(setinter))

Enter len of tuple 1 :
3
Enter element of tuple 1 :
4
Enter element of tuple 1 :
3
Enter element of tuple 1 :
5
Enter len of tuple 2 :
2
Enter element of tuple 1 :
3
Enter element of tuple 1 :
6
(3,)

**22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.**

In [32]:
set1 = input("Enter first set of integers (comma separated): ")
set2 = input("Enter second set of integers (comma separated): ")
set1 = set(map(int, set1.split(',')))
set2 = set(map(int, set2.split(',')))
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter first set of integers (comma separated): 1,2,3,4,55,3,2,3
Enter second set of integers (comma separated): 2,34,5,6,2,6,7
Intersection of the two sets: {2}

**23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.**

In [33]:
def concat_tuples():
    len_tup1 = int(input("Enter the number of elements in tuple 1: "))
    tup1 = ()
    for i in range(len_tup1):
        tup1 = tup1 + (int(input(f"Enter element {i+1} for tuple 1: ")),)
3
    len_tup2 = int(input("Enter the number of elements in tuple 2: "))
    tup2 = ()
    for j in range(len_tup2):
        tup2 = tup2 + (int(input(f"Enter element {j+1} for tuple 2: ")),)

    tup3 = tup1 + tup2
    return tup3

result = concat_tuples()
print("Concatenated Tuple:", result)

Enter the number of elements in tuple 1: 2
Enter element 1 for tuple 1: 2
Enter element 2 for tuple 1: 3
Enter the number of elements in tuple 2: 3
Enter element 1 for tuple 2: 3
Enter element 2 for tuple 2: 2
Enter element 3 for tuple 2: 1
Concatenated Tuple: (2, 3, 3, 2, 1)

**24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.**

In [34]:
str1=input("Enter first set of strings (comma separated): ")
str2=input("Enter second set of strings (comma separated): ")
set1=set(str1.split(','))
set2=set(str2.split(','))
setdiff=set1.difference(set2)
print(setdiff)

Enter first set of strings (comma separated): 1,2,3
Enter second set of strings (comma separated): 3.3,3,1
{'2'}

**25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.**

In [37]:
def index_tuples():
    len_tup1 = int(input("Enter the number of elements in tuple 1: "))
    tup1 = ()
    for i in range(len_tup1):
        tup1 = tup1 + (int(input(f"Enter element {i+1} for tuple 1: ")),)

    int1=int(input("Enter first index : "))
    int2=int(input("Enter second index : "))

    return tup1[int1:int2+1]

print("Indexed Tuple:", index_tuples())

Enter the number of elements in tuple 1: 3
Enter element 1 for tuple 1: 4
Enter element 2 for tuple 1: 3
Enter element 3 for tuple 1: 5
Enter first index : 2
Enter second index : 4
Indexed Tuple: (5,)

**26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.**

In [38]:
set1_input = input("Enter characters for set 1 (no spaces): ")
set1 = set(set1_input)

set2_input = input("Enter characters for set 2 (no spaces): ")
set2 = set(set2_input)

union_set = set1.union(set2)

print("Union of the two sets:", union_set)

Enter characters for set 1 (no spaces): 1235
Enter characters for set 2 (no spaces): 54466
Union of the two sets: {'5', '6', '4', '1', '2', '3'}

**27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.**

In [39]:
5def max_min_values(tup):
    max_val, min_val = max(tup), min(tup)
    return max_val, min_val

n = int(input("Enter number of elements in the tuple: "))
t = ()

for i in range(n):
    t = t + (int(input(f"Enter element {i+1}: ")),)

result = max_min_values(t)
print("Maximum and Minimum values:", result)

Enter number of elements in the tuple: 3
Enter element 1: 5
Enter element 2: 6
Enter element 3: 7
Maximum and Minimum values: (7, 5)

**28. Create a code that defines two sets of integers. Then, print the union intersection, and difference of these two set.**

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)

intersection_set = set1.intersection(set2)

difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set1 - Set2):", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}

**29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.**

In [41]:
def count_occurrences(tup, element):
    return tup.count(element)

n = int(input("Enter number of elements in the tuple: "))
t = ()

for i in range(n):
    t = t + (int(input(f"Enter element {i+1}: ")),)

x = int(input("Enter the element to count: "))
result = count_occurrences(t, x)
print(f"Occurrences of {x} in the tuple:", result)

Enter number of elements in the tuple: 4
Enter element 1: 3
Enter element 2: 4
Enter element 3: 3
Enter element 4: 5
Enter the element to count: 3
Occurrences of 3 in the tuple: 2

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

**31.  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.**

In [42]:
set1_input = input("Enter strings for set 1 (separate by spaces): ").split()
set1 = set(set1_input)
set2_input = input("Enter strings for set 2 (separate by spaces): ").split()
set2 = set(set2_input)
sym_diff = set1.symmetric_difference(set2)
print("Symmetric Difference of the two sets:", sym_diff)

Enter strings for set 1 (separate by spaces): 3 4 5 6 7 8 5
Enter strings for set 2 (separate by spaces): 5 5 4 3 6 8 12 34
Symmetric Difference of the two sets: {'7', '12', '34'}

**32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.**

In [44]:
1def input_dictionary(n):
    d = {}
    for i in range(n):
        key = input(f"Enter key {i+1}: ")
        value = int(input(f"Enter integer value for '{key}': "))
        d[key] = value
    return d

n1 = int(input("Enter number of key-value pairs for Dictionary 1: "))
dict1 = input_dictionary(n1)

n2 = int(input("Enter number of key-value pairs for Dictionary 2: "))
dict2 = input_dictionary(n2)

merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print("\nMerged Dictionary:", merged_dict)

Enter number of key-value pairs for Dictionary 1: 2
Enter key 1:
Enter integer value for '': 2
Enter key 2: 3
Enter integer value for '3': 2
Enter number of key-value pairs for Dictionary 2: 2
Enter key 1: 3
Enter integer value for '3': 4
Enter key 2: 5
Enter integer value for '5': 6

Merged Dictionary: {'': 2, '3': 6, '5': 6}

**33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.**

In [60]:
def get_nested_value(data, keys):
    current = data

    for key in keys:
        try:
            current = current[key]
        except (KeyError, TypeError):
            return None

    return current

my_dict = {
    "a": {
        "b": {
            "c": 50
        }
    }
}

keys_list = ["a", "b", "c"]

result = get_nested_value(my_dict, keys_list)

print("Result:", result)

Result: 50

**34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.**

In [71]:
def sort_dict_by_value(input_dict, ascending=True):
    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
    return {k: v for k, v in sorted_items}

my_dict = {"a": 3, "b": 1, "c": 2}
result = sort_dict_by_value(my_dict, ascending=True)

print("Sorted Dictionary:", result)

Sorted Dictionary: {'b': 1, 'c': 2, 'a': 3}

**35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.**

In [73]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

def invert_dict_simple(d):
    """Simplified version using setdefault method."""
    inverted = {}
    for key, value in d.items():
        inverted.setdefault(value, []).append(key)
    return inverted

n = int(input("Enter number of key-value pairs: "))
original = {}

for i in range(n):
    k = input(f"Enter key {i+1}: ")
    v = input(f"Enter value for '{k}': ")
    original[k] = v

result = invert_dict(original)
print("\nOriginal Dictionary:", original)
print("Inverted Dictionary:", result)

Enter number of key-value pairs: 3
Enter key 1: 4
Enter value for '4': 6
Enter key 2: 6
Enter value for '6': 76
Enter key 3: 8
Enter value for '8': 88

Original Dictionary: {'4': '6', '6': '76', '8': '88'}
Inverted Dictionary: {'6': ['4'], '76': ['6'], '88': ['8']}